#navHead {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0);
    width: 100vw;
    color: black;
    height: 80px;
    text-transform: uppercase;
    font-size: 12px;
    #navbarDropdown {
        color: black;
        :hover {
            color: whitesmoke;
        }
    }
    .dropdown-menu {
        background-color: black !important;
        overflow: hidden !important;
    }
    .dropdown-item {
        font-size: 11px;
        color: rgba($color: #FFF, $alpha: 0.8);
        transition: all .3s linear;
        &:hover, &:focus {
            color: rgba($color: #FFF, $alpha: 1);
            transform: scale(1.1);
        }
    }

    
}